body,
button,
input,
textarea,
select {
 font-family:'Barlow Condensed', sans-serif;
}

h1,h2,h3, nav .primary-navigation a, .wp-block-button a,
p.has-large-font-size {
    text-transform: uppercase !important;
    font-weight: 600;
}
