/* header - logo */

.woocommerce-active {
  .site-header {
    border-bottom: 0 transparent;
  }
  &.home {
    .site-header {
      padding: 0;
    }
    @media screen and (max-width: 768px) {
      .site-branding {
        display: none;
      }
    }
  }
  .site-branding {
    float: none !important;
    margin: 0 auto 1em !important;
    width: 184px;
  }
}

/* logo - menu mobile */

.handheld-navigation {
  > .menu > li.menu-item:first-child a {
    &::before {
      content: "\e902";
      &:extend([class^="icon-"]);
      display: block;
      font-size: 72px;
      text-align: right;
      margin-right: 12px;
    }
  }
}

/* header - home */

.home.blog .site-header,
.home.page:not(.page-template-template-homepage) .site-header,
.home.post-type-archive-product .site-header {
  margin-bottom: 0 !important;
}

.storefront-breadcrumb {
  margin-bottom: 0 !important;
  display: none;
}

/* header - menu */

@media screen and (max-width: 768px) {
  .nav-open, .nav-open > body, .nav-open .site-content {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .toggled {
    &::after {
      content: " ";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      left: 0;
      bottom: 0;
      display: block;
      position: fixed;
      top: 0;
    }
    .handheld-navigation {
      left: 0;
      width: calc(100% - 4.5em);
    }
  }
  .handheld-navigation {
    -webkit-overflow-scrolling: touch;
    transition: left 0.3s;
    overflow: auto;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
  }

  .storefront-primary-navigation > .col-full {
    margin: 0;
    > nav {
      &.toggled {
        button.menu-toggle {
          background-color:transparent;
          &::before, &::after {
            background-color: #FFF;
          }
        }
      }
      .menu-toggle {
        z-index: 9;
      }
    }
  }
}

.woocommerce-active .site-header {
  .main-navigation {
    .menu-toggle {
      float: none;
      position: absolute;
      right: 0;
      top: 0;
      margin: 1em;
    }
    ul li a {
      text-transform: uppercase;
      font-weight: 600;
      padding-right: 0.875em;
      padding-left: 0.875em;
    }
    ul.menu {
      > li:hover > a {
        color: @pink;
      }
    }
    ul.menu > li.menu-item-has-children,
    ul.menu > li.page_item_has_children,
    ul.nav-menu > li.menu-item-has-children,
    ul.nav-menu > li.page_item_has_children {
      &.current-menu-item > a::after {
        color: #fff;
      }
      > a::after {
        color: @pink;
      }
    }
  }
}

/* positions the search icon properly in the search box*/

#masthead .site-search .widget_product_search form:before {
  top: 1.75em;
  left: 0.75em;
  position: relative;
}

/*  resizes the search box*/

#masthead .site-search .widget_product_search input[type="search"],
#masthead .site-search .widget_product_search input[type="text"] {
  padding: 0.5em 0.5em 0.5em 2em;
  line-height: 1;
}

/* places the search box to the left of the cart menu(optional)*/

.woocommerce-active .site-header .site-search {
  float: none;
  clear: both;
  margin: 1em auto 2em;
  width: 100%;
  max-width: 1080px;
}

/* header - toggle menu */

button.menu-toggle {
  border-radius: 0;
  border: none transparent;
  padding: 0.75em;
  width: 3em;
  height: 3em;
  > span {
    text-indent: -9999em;
    display: block;
  }
  > span,
  > span::before,
  &::after,
  &::before {
    width: 1.5em;
    height: 3px;
    left: 0.75em;
  }
  &::before {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  &::after {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

/* main menu */

.current_page_item {
  > a {
    background-color: @pink !important;
    color: #fff !important;
  }
}

/* user menu (item account) */

ul.user-menu {
  display: none;
}
.site-header {
  .primary-navigation {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  /* header - sticky */

  /* header - search */

  #masthead .site-search {
    display: none;
  }
  // .woocommerce-shop #masthead .site-search {
  //   display: block;
  // }

  .woocommerce-active .site-header {
    .main-navigation {
      width: 100%;
      }    
  }
  /* header - menu */

  .main-navigation ul.menu,
  .main-navigation ul.nav-menu {
    text-align: center;
    ul.sub-menu,
    ul.children {
      background-color: lighten(hsl(328, 83%, 54%), 42%);
      > li:hover > a {
        background-color: lighten(hsl(0, 1%, 14%), 9%);
        color: #FFF;
      }
    }
  }

  /* header - user menu */

  .user-menu-wrapper {
    .site-header-cart .cart-contents {
      padding-bottom: 0.618em !important;
    }
    padding-right: 1.618em;
    width: 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    top: 16px;
    right: 0;

    ul.menu {
      float: none !important;
      &.site-header-cart {
        position: static;
        width: 100% !important;
        .cart-contents .count {
          background-color: @pink;
          color: #fff;
          display: block;
          position: absolute;
          padding: 6px;
          width: 36px;
          height: 36px;
          border-radius: 18px;
          text-align: center;
          right: 0;
          top: 0;
          margin-left: 12px;
          line-height: 24px;
          font-size: 18px;
          overflow: hidden;
        }
        > li:first-child {
          text-align: right;
        }
        .cart-contents::after {
          content: "\f07a";
        }
      }

      &.user-menu {
        margin: 0;
        display: inline-block;
        text-align: center;
        min-width: 128px;
        position: relative;
        li {
          list-style: none;
          a {
            padding: 1.618em 0 0.618em;
            display: block;
            position: relative;
            background-color: transparent;
            height: auto;
            width: auto;
            text-indent: 0;
          }
          &.my-account {
            a {
              &:before {
                font-size: 1.2em;
                margin-top: -9px;
                content: "\f2bd";
              }
            }
          }
          > a::before {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            line-height: 1;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            line-height: inherit;
            vertical-align: baseline;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            line-height: 2.618046972;
            font-size: 1.618em;
            text-indent: 0;
            display: block;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 980px) {
  .user-menu-wrapper {
    width: 21%;
  }
}

@media screen and (min-width: 1280px) {
  .woocommerce-active {
    > .site {
      padding-top: 78px;
    }
    .site-header {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      padding-top: 0;
      background-color: rgba(255, 255, 255, 0.81);
      .user-menu-wrapper {
        top: 16px;
      }
    }
    &.home:not(.site-header-sticky) {
      .site-header .site-branding {
        top: -100px;
        opacity: 0;
      }
    }
    .site-header .site-branding {
      display: block;
      width: 184px !important;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: auto;
      z-index: 1;
    }
  }
}

@media screen and (min-width: 1920px) {
  .user-menu-wrapper {
    width: 15%;
  }
}