/* wp-block - margin-bottom : 0 */

.mb-0 {
	margin-bottom: 0 !important;
}

/* wp-block - ban-event */
	
.ban-event {
    line-height: 1.15;
}
.ban-event h2, .ban-event h3 {
	margin: 0;
	}
.ban-event h3 + p {
	margin-top: 1.4em;
	margin-bottom: 0;
}