/* wp-block - margin-bottom : 0 */

.mb-0 {
	margin-bottom: 0 !important;
}

/* wp-block - ban-event */
	
.ban-event {
    line-height: 1.15;
}
.ban-event h2, .ban-event h3 {
	margin: 0;
	}
.ban-event h3 + p {
	margin-top: 1.4em;
	margin-bottom: 0;
}

	/* wp-block */

	.wp-block-group.alignfull > div {
		max-width:  66.4989378333em;
		margin-left: auto;
		margin-right: auto;
	}

	/* wp-block - titles */
	
	.wp-block-group + .wp-block-group h2 {
		margin: 3em 0;
	}